<div class="container">
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" routerLink="register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="login">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="uform">User Form</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="userlist">UserList</a>
    </li>
</ul>
<router-outlet></router-outlet>
</div>


<!-- <app-template-driven></app-template-driven>
<app-reactive-form></app-reactive-form> -->
<!-- <div class="container">
    <div class="row">
        <app-user-from class="col-md-6 offset-3"></app-user-from>
    </div>
    <div class="row">
        <app-user></app-user>
    </div>
</div> -->
<!-- <app-pipes></app-pipes> -->
<!-- <app-custom-pipe></app-custom-pipe> -->
<!-- <app-trackby></app-trackby>
<app-ngif></app-ngif> -->
<!-- <app-ngswitch></app-ngswitch> -->
<!-- <app-ngstyle></app-ngstyle>
<app-ngclass></app-ngclass> -->
<!-- <app-ifdirectiveuse></app-ifdirectiveuse> -->
