<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th><th>Name</th><th>UserName</th><th>Opeartions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let u of users">
            <td>{{u.id}}</td>
            <td>{{u.name}}</td>
            <td>{{u.username}}</td>
            <td><a routerLink="/userdetails/{{u.id}}">
                <button class="btn btn-success">View</button>
            </a></td>
            <!-- <td>{{u.company.name}},  {{u.company.catchPhrase}}, {{u.company.bs}}</td>
            <td>{{u.address.city}}, {{u.address.zipcode}} {{u.address.geo.lng}}</td> -->
        </tr>
    </tbody>
</table>