<h1> Login Form</h1>
<div class="row">
    <div class="col-md-6 offset-3">
<form>
    <div class="form-group">
        <label>First Name</label>
        <input type="text" name="fname" id="fname" placeholder="First Name"
        class="form-control" [(ngModel)]="fname">
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <input type="text" name="lname" id="lname" placeholder="Last name"
        class="form-control" [(ngModel)]="lname">
    </div>
    <button class="btn btn-primary mt-3">Login</button>
</form>
<h4>Submitted Details</h4>
<h5>First name:{{fname}}</h5>
<h5>Last Name:{{lname}}</h5>
</div>
</div>