<div class="container">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="userlist">User List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="details/10">Details</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/@sonamsoni">Profile</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>