<h1>Users List</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th><th>Name</th><th>Email</th><th>Country</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let u of users;let isEven=even" (click)="onSelected(u)"
        [ngClass]="isEven?'red':'blue'">
            <td>{{u.id}}</td>
            <td>{{u.name}}</td>
            <td>{{u.email}}</td>
            <td>{{u.country}}</td>
        </tr>
    </tbody>
</table>
<app-user-details [selectedUser]="selectedUser"></app-user-details>